@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

.cabecalho-titulo{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    align-items: center;
}

.cabecalho-blog{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

a {
    color: white;
}

.cabecalho-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    opacity: 0.5;
    padding-left: 10px;
}

.cabecalho-cima {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.cabecalho-baixo {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cabecalho-barra {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 55.2%;
    height: 60px;
}

.cabecalho-imagem {
    margin-left: 10px;
    height: 24px;
    width: 24px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    /* background-color: #f3f5f7; */
    background-color: rgb(153, 153, 153);
}

.box {
    width: 55.2%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
}

.box-data{
    font-family: 'Lexend Deca', sans-serif;
    color: #717171;
    font-weight: 400;
    font-size: 16px;   
}

.box-titulo{
    font-family: 'Lexend Deca', sans-serif;
    color: #1A202C;
    font-weight: 400;
    font-size: 26px;
}

.box-descricao{
    font-family: 'Lexend Deca', sans-serif;
    color: #717171;
    font-weight: 400;
    font-size: 18px;
}

.box-cima{
    display: flex;
    justify-content: space-between;
}

.box-meio{
    margin-top: 20px;
}

.box-fim{
    margin-top: 15px;
}

@media (max-width: 690px) {
    .cabecalho-cima {
        justify-content: space-between;
    }
    
    .cabecalho-barra {
        width: 100%;
    }
}   

@media (max-width: 690px) {
    .box {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}